<sw-page class="order-email-base-send">
    <template slot="smart-bar-actions">
        <sw-button @click="sendEmail()" variant="ghost">
            Versenden
            <sw-icon name="default-communication-envelope"></sw-icon>
        </sw-button>
    </template>

    <template slot="content">
        <template>
            <sw-alert v-if="showAlert" variant="info" appearance="notification" :showIcon="true" :closable="true"
                      @close="onCloseAlert()" style="margin-top: 20px;">
                Email wurde versendet
            </sw-alert>
        </template>

        <sw-card-view>
            <sw-card title="Daten">
                <sw-text-field
                    :value="mail.to"
                    label="Versenden an"
                    disabled
                ></sw-text-field>

                <sw-select-field
                    v-model="mail.from"
                    label="Absender"
                    validation="required">
                    <option v-for="user in users" :key="user.email" :value="user.email">
                        {{ user.email }}
                    </option>
                </sw-select-field>

                <sw-select-field
                    v-model="mail.bcc"
                    label="Eine Blindkopie (BCC) senden an"
                    validation="required">
                    <option v-for="user in users" :key="user.email" :value="user.email">
                        {{ user.email }}
                    </option>
                </sw-select-field>

                <sw-select-field
                    v-model="mail.salesChannelId"
                    label="Sales Channel"
                    validation="required">
                    <option v-for="channel in salesChannels" :key="channel.id" :value="channel.id">
                        {{ channel.name }}
                    </option>
                </sw-select-field>
            </sw-card>

            <sw-card title="Inhalt">
                <sw-text-field
                    label="Betreff"
                    v-model="mail.subject">
                </sw-text-field>

                <sw-textarea-field
                    label="Nachricht an den Kunden"
                    v-model="mail.contentPlain">
                </sw-textarea-field>
            </sw-card>
        </sw-card-view>
    </template>
</sw-page>
